* {
    align-content: center;
}

body {
    margin-top: 10px;
    margin: auto;

    text-align: center;

    min-width: 70%px;
    width: 80%;
}

label {
    text-align: center;
}

.contents {
    border: 1px solid #333;
    border-top: none;
    margin-top: 0;
    padding: 1em;
    overflow: auto;
}

/*Navigation bar*/

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: #333;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}


/*CSS Showcase*/

.wrap {
    margin: auto;
    background: #fff;
    overflow: hidden;
    padding: 15px;
}

.wrap-left {
    flex: 1;
    width: 49%;
    display: inline-block;
    padding-right: 1%;
    vertical-align: top;
}

.wrap-right {
    flex: 1;
    width: 49%;
    display: inline-block;
    padding-left: 1%;
    vertical-align: top;
}

#red-square-width {
    width: 100px;
    height: 100px;
    background: lime;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    cursor: pointer;
}

#red-square-width:active {
    width: 200px;
}

#yellow-green-square-color {
    width: 100px;
    height: 100px;
    background: orangered;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    cursor: pointer;
}

#yellow-green-square-color:active {
    background-color: moccasin;
}

#pink-square-rotate {
    width: 100px;
    height: 100px;
    background: orange;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    cursor: pointer;
}

#pink-square-rotate:active {
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#square-to-circle {
    width: 100px;
    height: 100px;
    background: aqua;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    cursor: pointer;
}

#square-to-circle:active {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#square-translate {
    width: 100px;
    height: 100px;
    background: yellow;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    cursor: pointer;
}

#square-translate:active {
    transform: translateX(-50px);
}

#square-skew {
    width: 100px;
    height: 100px;
    background: mediumorchid;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    cursor: pointer;
}

#square-skew:active {
    transform: skew(-0.01turn, 140deg);
}

#square-all {
    width: 100px;
    height: 100px;
    background: magenta;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    cursor: pointer;
}

#square-all:active {
    transform: rotate(540deg) translateX(-40px) skew(-0.01turn, 1400deg) translateY(5em);
    -ms-transform: rotate(540deg) translateX(-40px) skew(-0.01turn, 1400deg) translateY(5em);
    -webkit-transform: rotate(-1200deg) translateX(-40px) skew(-0.01turn, 1400deg) translateY(5em);
    width: 150px;
    height: 100px;
    border-radius: 50%;
    background-color: yellow;
}

#timing-linear {
    width: 100px;
    height: 100px;
    background: #800080;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    color: white;
}

#timing-ease {
    width: 100px;
    height: 100px;
    background: #800080;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    color: white;
}

#timing-ease-in {
    width: 100px;
    height: 100px;
    background: #800080;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -ms-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    color: white;
}

#timing-ease-out {
    width: 100px;
    height: 100px;
    background: #800080;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    color: white;
}

#timing-ease-in-out {
    width: 100px;
    height: 100px;
    background: #800080;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    color: white;
}

#timing-custom {
    width: 100px;
    height: 100px;
    background: #800080;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    -webkit-transition: all 1s cubic-bezier(0.1, 0.7, 1.0, 0.1);
    -moz-transition: all 1s cubic-bezier(0.1, 0.7, 1.0, 0.1);
    -ms-transition: all 1s cubic-bezier(0.1, 0.7, 1.0, 0.1);
    -o-transition: all 1s cubic-bezier(0.1, 0.7, 1.0, 0.1);
    transition: all 1s cubic-bezier(0.1, 0.7, 1.0, 0.1);
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    color: white;
}

#timing-linear:active,
#timing-ease:active,
#timing-ease-in:active,
#timing-ease-out:active,
#timing-ease-in-out:active,
#timing-custom:active {
    width: 200px;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}


/*Projects.html*/

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.project-table {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.project-table,
.project-table th,
.project-table td {
    border: 1px solid #333;
    /* border-collapse: collapse; */
    border-radius: 4px;
    padding: 0.4em;
}

.project-table .header_name {
    width: 250px;
    background-color: #ffb3ba;
}

.project-table .header_files {
    width: 250px;
    background-color: #ffdfba;
}

.project-table .header_notes {
    width: 250px;
    background-color: #ffffba;
}

.project-table .header_date {
    width: 75px;
    background-color: #baffc9;
}

.file-list li {
    text-align: left;
}

.color-table {
    border: none;
    padding: 0.4em;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.color-cell {
    height: 2em;
    width: 25%;
}

.tooltip {
    width: 100%;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #5B5B5BDD;
    color: #FFFFFF;
    text-align: center;
    border-radius: 7px;
    padding: 3px 0;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
}

.tooltip:hover .tooltiptext,
.tooltip:active .tooltiptext {
    visibility: visible;
    opacity: 1;
    transform: translateY(2em);
}