*{
    font-family: "Open Sans", sans-serif;
    word-wrap: break-word;
}

.contents {
    margin: auto;
    text-align: center;
    width: 75vw;
}

#input {
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
    display: block;
}

.output {
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
    display: block;
}